@model List<ParagraphModel>

<table id="paragraph" class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Başlık
            </th>
            <th>
                Tarih
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                <a asp-controller="Question" asp-action="ExamDetail" asp-route-id="@item.Id"> @item.Title</a> 
            </td>
            <td>
                @item.CreatedAt
            </td>
            <td>
                <a asp-controller="Question" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
        }
    </tbody>
</table>